/* Write your CSS here! */


body {
    padding: 0;
    box-sizing: border-box;
    margin: 8px; 
    display: block; 
    font-family: Arial, sans-serif;
    background-color: aliceblue;
}

header, footer {
    background-color: #5626a39e;
    color: #ffffff;
    text-align: center;
    padding: 11px;
    font-family:cursive;
}

main {
    padding: 22px;
}

article {
    border: 11px solid #5626a39e;
    margin-bottom: 22px;
    padding: 11px;
    text-align: center;
    margin-left: 111px;
    margin-right: 111px;
}


#mainHeading {
    color: red;
    font-size: 24px;
}

#testP {
    font-style: italic; 
}

.funParagraph {
    color: green; 
    font-size: 20px;
}
